h1, .caps {
    font-variant:small-caps;
}

h2:first-letter {
    color: #A52A2A;
    font-family:arial,helvetica,sans-serif;
}

a.selected {
    background-color:#A52A2A;
}

.center {
    text-align:center;
}

.column {
    font-family:Georgia, Times, "Times New Roman", serif;
}